# github
OWNER=owner_name

# Database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DB=postgres_db
DATABASE_USERNAME=afisha_user
DATABASE_PASSWORD=your_secure_password
DATABASE_NAME=afisha

# Logger
LOGGER_TYPE=dev

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@afisha.com
PGADMIN_DEFAULT_PASSWORD=admin_password

# Backend
PORT=3000
DATABASE_HOST=db
DATABASE_PORT=5432